<!-- Team Section -->
    <section id="{{section.id}}" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{section.title}}</h2>
                    <h3 class="section-subheading text-muted">Musicoterapeuta, Educatrice & Cantante</h3>
                </div>
            </div>
            <div class="row">
                <!-- {% for member in site.people %} -->
                <div class="col align-self-center col-sm-4"></div>
                <div class="col align-self-center col-sm-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}img/team/me.jpg" class="img-responsive img-circle" alt="">
                        <!-- <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> -->
                    </div>
                </div>
                <div class="col align-self-center col-sm-4"></div>
                <!-- {% endfor %} -->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                        Chi sono? 👋 <br/>
                        Sono Giada, MUSICOTERAPEUTA, educatrice e cantante. Da sempre inseguo le mie due passioni più grandi: la musica e l'educazione. Vivo la musica come mezzo per esprimere le parti più profonde di sé e per comunicare con l'altro senza usare le parole. Vivo l'educazione come il trarre fuori da ogni essere umano la bellezza e le potenzialità più o meno visibili. La musicoterapia è ciò che mi permette di unire entrambe le cose, come mezzo per (ri) scoprire le note della meraviglia di ognuno di noi 🎶🌸❤️
                    </p>
                </div>
            </div>
        </div>
    </section>
