<!-- Team Section -->
    <section id="{{section.id}}" class="{{section.class}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{section.title}}</h2>
                    <h3 class="section-subheading text-muted">Musicoterapeuta, Educatrice & Cantante</h3>
                </div>
            </div>
            <div class="row">
                <div class="col align-self-center col-sm-4"></div>
                <div class="col align-self-center col-sm-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}img/team/me.jpeg" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col align-self-center col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted" style="text-align: justify;">
                        Sono Giada, musicoterapeuta qualificata, educatrice musicale e cantante. Nel mio lavoro accompagno bambini, adolescenti e adulti nella scoperta di sé attraverso la musica. Credo nel suo potere trasformativo e terapeutico, capace di liberare emozioni, favorire la crescita personale e promuovere il benessere psicofisico.<br/>
                        <br/>
                        Nei miei percorsi personalizzati valorizzo l'identità sonora unica che ognuno porta con sé, favorendo l'ascolto profondo di sé e la riscoperta della propria creatività, delle proprie potenzialità e delle proprie risorse personali autentiche. La musica diventa così uno strumento per conoscere, esprimere e ri-scoprire se stessi, a ogni età.<br/>
                        <br/>
                        Credo in un approccio delicato che mi permetta di entrare in contatto con gentilezza con il mondo interiore di ogni persona che incontro.<br/>
                        Vivo la Musicoterapia come un seme che si pianta con cura, si innaffia con rispetto e poi, a suo tempo, fiorisce.<br/>
                        <br/>
                        <strong>Musicoterapia con Giada</strong> è questo: uno spazio dove i suoni aiutano ad ascoltarsi, dove ogni emozione può affacciarsi piano, senza fretta.<br/>
                        Un luogo fatto di presenza, ascolto e crescita.
                    </p>
                </div>
            </div>
        </div>
    </section>
