<section id="{{section.id}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{section.title}}</h2>
                    <h3 class="section-subheading text-muted" style="color: white">Conosciamci e iniziamo un percorso insieme!</h3>
                </div>
            </div>
            <div class="row text-center align-items-center">
                <div class="col-md-4">
                    <a href="tel:+393286014022">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading" style="color:white;">+39 3286014022</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="mailto:tanghettigiada@gmail.com">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading" style="color:white;">tanghettigiada@gmail.com</h4>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://www.google.com/maps/place/Centro+Fa.Ba./@45.5828596,10.5195408,17z/data=!3m1!4b1!4m6!3m5!1s0x47818f812855681f:0xbf2fe6b8dd24e584!8m2!3d45.5828596!4d10.5221157!16s%2Fg%2F11sc6pxyq8?entry=ttu" target="_blank">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-map-location-dot fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading" style="color:white;">FA.BA, Via Enrico Fermi 5A Cunettone di Salò</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
