<!-- About Section -->
    <section id="{{section.id}}" class="{{section.class}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{section.title}}</h2>
                    <h3 class="section-subheading text-muted">Formazione ed esperienze</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="large text-muted" style="text-align: justify;">
                        La mia formazione unisce competenze accademiche e specializzazioni pratiche nell'ambito della musicoterapia e dell'educazione musicale.<br/>
                        Ho conseguito la <strong>Laurea in Scienze dell'Educazione</strong> presso l'Università degli Studi di Verona e ho completato la <strong>Specializzazione Triennale in Musicoterapia</strong> presso la Scuola Artedo di Brescia.<br/>
                        Successivamente ho approfondito il mio percorso con specializzazioni in <strong>Musicoterapia pre e post natale</strong>, <strong>Musicoterapia e sviluppo del linguaggio</strong> e nel <strong>Metodo Orff-Schulwerk</strong>, arricchendo la mia pratica con strumenti concreti e metodologie creative.<br/>
                        Ho inoltre completato il <strong>Secondo Livello SSM in canto moderno</strong> presso l'Accademia Musicale Lizard.<br/>
                        <br/>
                        Ho lavorato per dieci anni come <strong>educatrice</strong> negli asili nido e nelle scuole dell'infanzia, esperienza che mi ha insegnato quanto la <strong>musica sia fondamentale fin dalla più tenera età</strong>.<br/>
                        Oggi mi occupo a tempo pieno di <strong>musicoterapia ed educazione musicale</strong>.<br/>
                        Accompagno bambini, adolescenti e adulti in percorsi personalizzati di <strong>Musicoterapia individuale.</strong><br/>
                        Porto i miei progetti nelle scuole, realizzando <strong>interventi di musicoterapia per nidi e infanzia</strong> e laboratori di <strong>educazione musicale per infanzia e primaria</strong>, pensati per stimolare ascolto, espressione e apprendimento in modo creativo e coinvolgente, valorizzando la collaborazione e l'esperienza condivisa del gruppo.<br/>
                        Parallelamente, insegno <strong>propedeutica musicale</strong> presso la Banda Musicale “Carlo Zambelli” di Villanuova s/C, accompagnando i bambini alla scoperta della musica in un contesto collettivo e partecipativo.<br/>
                        Mi occupo inoltre di <strong>Musicoterapia per Anziani</strong>  presso Centri Diurni o RSA,
creando spazi di benessere, condivisione e socializzazione attraverso la musica.
                    </p>
                </div>
            </div>
        </div>
    </section>
